# OS
.DS_Store
Thumbs.db
*.swp
*.lock
*.log

# Node
node_modules/
npm-debug.log
yarn-error.log

# React Native
.expo/
android/app/build/
ios/build/
ios/Pods/
.buckd/
.bundle/

# IDE
.vscode/
.idea/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
